<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal Strength Heatmap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Signal Strength Heatmap</h1>
    </header>
    <nav class="navbar">
        <ul>
            <li><a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
            <li><a href="/encryption_details" class="{% if request.path == '/encryption_details' %}active{% endif %}">Encryption Methods</a></li>
            <li><a href="/heatmap" class="{% if request.path == '/heatmap' %}active{% endif %}">Heatmap</a></li>
            <li><a href="/bandwidth_explanation" class="{% if request.path == '/bandwidth_explanation' %}active{% endif %}">Bandwidth Explanation</a></li>
        </ul>
      </nav>
    <main>
        <section>
            <!-- Embed the heatmap -->
            <iframe 
                src="{{ url_for('static', filename='heatmap.html') }}" 
                width="100%" 
                height="600" 
                style="border:none;">
            </iframe>
        </section>
    </main>
</body>
</html>
